<?xml version="1.0"?>
<config>
  <modules>
    <Lemundo_TaxClassPriceDisplay>
      <version>0.1.0</version>
    </Lemundo_TaxClassPriceDisplay>
  </modules>
  <global>
    <helpers>
      <lemundo_taxclasspricedisplay>
        <class>Lemundo_TaxClassPriceDisplay_Helper</class>
      </lemundo_taxclasspricedisplay>
			<tax>
        <rewrite>
				  <data>Lemundo_TaxClassPriceDisplay_Helper_Tax_Data</data>
        </rewrite>
      </tax>
    </helpers>
  </global>
</config> 